.mainpage_title_font_info {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  font-family: 'DINAlternate-Bold', 'MicrosoftYaHei-Bold';
}
.line_separator {
  width: 95%;
  height: 1px;
  margin: 10px auto;
  background-image: linear-gradient(to right, rgba(25, 157, 252, 0.2) 1%, #199dfc 50%, rgba(25, 157, 252, 0.2) 96%);
}
.net_condition {
  margin-top: 10px;
  width: 100%;
  height: calc(100% - 165px);
}
.net_condition .net_order {
  height: 100%;
  margin-top: 10px;
  width: 100%;
}
.net_condition > section:first-child {
  height: 30px;
  line-height: 30px;
  background-image: linear-gradient(to right, rgba(23, 150, 242, 0) 2%, rgba(23, 150, 242, 0.75) 52%, rgba(23, 150, 242, 0.1) 100%);
}
.net_condition > section:first-child .anticon svg {
  color: greenyellow;
  margin-left: 10px;
  margin-top: -8px;
}
.status_amount {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 10px;
}
.status_amount div {
  background-image: url('../../../../imgs/icon/monitorSet/circletwo.png');
  background-size: 100% 100%;
  margin-top: 5px;
  height: 70px;
  width: 70px;
  line-height: 70px;
}
.status_amount .status_working {
  color: #35ff00;
}
.status_amount .status_idle {
  color: #00ffe4;
}
.status_amount .status_fault {
  color: red;
}
.status_amount .status_shutdown {
  color: #b5b5b5;
}
.status_description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 10px;
}
.status_description div {
  width: 70px;
  height: 20px;
  line-height: 20px;
  font-size: 0.7em;
  margin-top: 5px;
}
.status_description .des_working {
  color: #35ff00;
}
.status_description .des_idle {
  color: #00ffe4;
}
.status_description .des_fault {
  color: red;
}
.status_description .des_shutdown {
  color: #b5b5b5;
}
