#realtime_center_map_container {
  width: 100%;
  height: calc(100vh - 50px);
  padding: 5px;
  position: relative;
}
#realtime_mouseposition_container {
  float: left;
  position: absolute;
  bottom: 10px;
  z-index: 10;
  width: 200px;
  height: 30px;
  color: black;
  font-size: 1em;
  font-weight: bold;
}
