@import '../../commonstyle.less';
#signal_content{
    width: 100%;
    height: 100%;
    //border: 1px solid red;
}
#signal_chart_id{
    width: 100%;
    height: 100%;
    //border: 2px green solid;
}

