.mainpage_title_font_info {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  font-family: 'DINAlternate-Bold', 'MicrosoftYaHei-Bold';
}
.line_separator {
  width: 95%;
  height: 1px;
  margin: 10px auto;
  background-image: linear-gradient(to right, rgba(25, 157, 252, 0.2) 1%, #199dfc 50%, rgba(25, 157, 252, 0.2) 96%);
}
.outter {
  margin-top: 5px;
  position: relative;
  border: 1px solid #0f488f;
  height: 70%;
  box-shadow: 0px 0px 21px 0px #155099 inset;
}
.outter .frame_title {
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 28px;
  width: 100%;
  margin: 0px auto;
  line-height: 28px;
  background-color: #71b4 2;
}
.outter .frame_title .title {
  height: 100%;
  background: url("../../imgs/icon/monitorSet/middle.png");
  background-size: 100% 100%;
}
.outter:hover {
  box-shadow: 0px 0px 21px 12px #3578ca inset;
}
.left_img {
  height: 28px;
  width: 20px;
  background: url("../../imgs/icon/monitorSet/left.png") center no-repeat;
  background-size: cover;
}
.title {
  height: 100%;
  background: url("../../imgs/icon/monitorSet/middle.png");
  background-size: 100% 100%;
}
.right_img {
  height: 28px;
  width: 20px;
  background: url("../../imgs/icon//monitorSet/right.png") center no-repeat;
  background-size: cover;
}
.corner_left_top {
  border-top: 3px solid #199dfc;
  border-left: 3px solid #199dfc;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
}
.corner_left_bottom {
  border-bottom: 3px solid #199dfc;
  border-left: 3px solid #199dfc;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 10px;
  height: 10px;
}
.corner_right_bottom {
  border-bottom: 3px solid #199dfc;
  border-right: 3px solid #199dfc;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 10px;
  height: 10px;
}
.corner_right_top {
  border-top: 3px solid #199dfc;
  border-right: 3px solid #199dfc;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
}
