.cockPit {
  margin: 0px;
  padding: 0px;
  background: #06183d;
}
.header {
  display: flex;
  display: -webkit-flex;
  /* Safari */
  justify-content: space-between;
  height: 40px;
}
.header:hover {
  box-shadow: 0px 0px 21px 0px #155099 inset;
  border-radius: 5px;
}
.header_left {
  margin-left: 100px;
  width: 25%;
  flex-grow: 2;
  -webkit-flex-grow: 2;
}
.header_right {
  width: 25%;
  flex-grow: 2;
  -webkit-flex-grow: 2;
}
.header_always_exist {
  flex-grow: 0;
  -webkit-flex-grow: 0;
  margin-right: 10px;
  height: 16px;
  margin-top: calc(40px / 2 - 16px / 2);
}
.header_center {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  line-height: 40px;
  font-size: 2.4em;
  font-weight: bold;
  color: #0ee1f7;
  border-bottom: 1px solid #1165ad;
  text-align: center;
  margin: 0px auto;
}
.content_container {
  margin-top: 5px;
  background-color: #06183d;
  height: calc(100vh - 45px);
}
.row_container {
  height: 100%;
}
.page_left {
  height: 100%;
}
.page_center {
  border: 1px solid #0f488f;
  box-shadow: 0px 0px 21px 0px #155099 inset;
  height: 100%;
  padding: 0px;
}
#main_page_map_container {
  height: 85%;
  width: 100%;
  position: relative;
  left: 2px;
  margin-right: 2px;
}
.page_center:hover {
  box-shadow: 0px 0px 21px 12px #3578ca inset;
}
.page_right {
  height: 100%;
  border: 1px solid greenyellow;
}
