#net_legend {
  right: 10px;
  bottom: 10px;
  position: absolute;
}
#net_legend label {
  color: blue;
}
#net_fast {
  display: inline-block;
  border: 2px dashed green;
  width: 30px;
  height: 0px;
  position: relative;
  top: -2px;
}
#net_medium {
  display: inline-block;
  border: 2px dashed orange;
  width: 30px;
  height: 0px;
  position: relative;
  top: -2px;
}
#net_low {
  display: inline-block;
  border: 2px dashed red;
  width: 30px;
  height: 0px;
  position: relative;
  top: -2px;
}
#net_offline {
  display: inline-block;
  border: 2px dashed gray;
  width: 30px;
  height: 0px;
  position: relative;
  top: -2px;
}
#status_control {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}
#status_control > div {
  width: 120px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgba(1, 23, 68, 0.8);
  height: 80px;
  padding: 10px;
  border: 2px solid rgba(22, 130, 232, 0.9);
  border-radius: 8px;
  border-right: 1px solid #ccc;
}
#status_control > div > div {
  margin: 2px auto;
  text-align: center;
}
#status_control #status_total_info {
  color: white;
}
#status_control #status_work_info {
  color: #35ff00;
}
#status_control #status_idle_info {
  color: #00fee4;
}
#status_control #status_fault_info {
  color: #ff0000;
}
#status_control #status_shutdown_info {
  color: #b4b4b4;
}
#status_control #status_total_count,
#status_control #status_work_count,
#status_control #status_idle_count,
#status_control #status_fault_count,
#status_control #status_shutdown_count {
  font-size: 1.5rem;
}
#warnning_container {
  display: flex;
  flex-direction: column;
  float: right;
  border: 3px solid #2b98fd;
  border-radius: 8px;
  margin-right: 10px;
}
#warnning_container > div {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100px;
  height: 100px;
  background-color: rgba(1, 23, 68, 0.8);
  text-align: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
#warnning_container #warnning_general_info {
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#warnning_container #warnning_general_info > div:first-child {
  background-color: rgba(255, 254, 1, 0.8);
  width: 80px;
  margin: 2px auto;
  color: black;
  border-radius: 5px;
}
#warnning_container #warnning_general_info > div:last-child {
  color: yellow;
  font-size: 1.5rem;
}
#warnning_container #warnning_serious_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#warnning_container #warnning_serious_info > div:first-child {
  background-color: rgba(233, 144, 2, 0.8);
  width: 80px;
  margin: 2px auto;
  color: black;
  border-radius: 5px;
}
#warnning_container #warnning_serious_info > div:last-child {
  color: rgba(233, 144, 2, 0.8);
  font-size: 1.5rem;
}
#warnning_container #warnning_fatal_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#warnning_container #warnning_fatal_info > div:first-child {
  background-color: rgba(255, 0, 0, 0.8);
  width: 80px;
  margin: 2px auto;
  color: black;
  border-radius: 5px;
}
#warnning_container #warnning_fatal_info > div:last-child {
  color: rgba(255, 0, 0, 0.8);
  font-size: 1.5rem;
}
.stationinfo_box {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 150px;
  width: 300px;
  background-color: rgba(5, 23, 61, 0.8);
  color: white;
}
.stationinfo_box .stationinfo_box_head {
  height: 28px;
  align-items: center;
  margin-top: 5px;
}
.stationinfo_box .stationinfo_box_head .ant-btn > .anticon {
  position: relative;
  top: -3px;
}
.stationinfo_box .stationinfo_box_head > span:first-child {
  float: left;
  margin-left: 5px;
}
.stationinfo_box .stationinfo_box_head > span:nth-child(2) {
  float: right;
  margin-right: 3px;
}
.stationinfo_box .stationinfo_box_head > span:nth-child(3) {
  float: right;
  margin-right: 10px;
}
.stationinfo_box .stationinfo_box_head > span:last-child {
  float: right;
  margin-right: 10px;
  font-weight: bold;
}
.stationinfo_box .line_separator_hr {
  width: 95%;
  height: 1px;
  margin: 2px auto;
  background-image: linear-gradient(to right, rgba(25, 157, 252, 0.2) 1%, #199dfc 50%, rgba(25, 157, 252, 0.2) 96%);
}
.stationinfo_box_content table {
  text-align: left;
  margin: 1px auto;
}
.stationinfo_box_content table tr {
  border-bottom: 1px solid #ccc;
}
.stationinfo_box_content table td {
  padding: 5px;
}
.status_log_container {
  background-color: rgba(5, 23, 61, 0.8);
  width: 850px;
  height: 350px;
  margin: auto;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0px;
}
.status_log_container .status_header {
  height: 30px;
  background-color: rgba(0, 141, 255, 0.9);
  margin-top: 0px;
  color: white;
  font-weight: bold;
  line-height: 30px;
}
.status_log_container .status_header > span:first-child {
  float: left;
  margin-left: 5px;
}
.status_log_container .status_header > span:last-child {
  float: right;
  margin-right: 5px;
}
.status_log_container .status_info {
  width: 35%;
  height: calc(100% - 31px);
  border-right: 1px solid #ccc;
  float: left;
}
.status_log_container .status_info .status_basic_info {
  width: 100%;
  height: 40%;
  border-bottom: 1px solid #ccc;
}
.status_log_container .status_info .status_basic_info table {
  color: white;
}
.status_log_container .status_info .status_basic_info table td {
  padding: 5px ;
}
.status_log_container .status_info .status_basic_pie {
  width: 100%;
  height: calc(60% - 1px);
}
.status_log_container .status_info .status_basic_pie .status_static_pie_container {
  width: 100%;
  height: 100%;
}
.status_log_container .status_static_daily {
  width: calc(65% - 1px);
  height: calc(100% - 31px);
  float: right;
  position: relative;
}
.status_log_container .status_static_daily .status_log_daily_chart_container {
  width: 100%;
  height: 100%;
  position: relative;
}
.status_log_container .status_static_daily .status_log_daily_chart_container > div > canvas:hover {
  cursor: default;
}
.status_log_container .status_static_daily .choose_date_up {
  position: absolute;
  left: 11px;
  top: 105px;
  color: gold;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
.status_log_container .status_static_daily .choose_date_down {
  position: absolute;
  left: 11px;
  top: 215px;
  color: gold;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
.warning_list_container {
  width: 800px;
  height: 350px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  background-color: rgba(5, 23, 61, 0.8);
  position: fixed;
}
.warning_list_container .warning_list_head {
  width: 100%;
  height: 30px;
  background-color: rgba(0, 141, 255, 0.9);
  margin-top: 0px;
  color: white;
  font-weight: bold;
  line-height: 30px;
}
.warning_list_container .warning_list_head > span:first-child {
  float: left;
  margin-left: 5px;
}
.warning_list_container .warning_list_head > span:last-child {
  float: right;
  margin-right: 5px;
  line-height: 30px;
  margin-top: -2px;
}
.warning_list_container .warning_list_query_condition {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  height: 80px;
  margin-top: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}
.warning_list_container .warning_list_query_condition .ant-select-selector {
  background-color: transparent;
}
.warning_list_container .warning_list_query_condition .ant-select-selection-item {
  padding: 0px;
}
.warning_list_container .warning_list_query_condition .ant-select-selection-item {
  margin-right: 0px;
  margin-left: 2px;
}
.warning_list_container .warning_list_query_condition .warnning_list_query_date {
  background-color: transparent;
  color: white;
  text-decoration-color: white;
  width: 640px;
  margin-top: 10px;
}
.warning_list_container .warning_list_query_condition label {
  color: white;
  margin-left: 2px;
  margin-right: 2px;
}
.warning_list_container .warning_list_query_condition .ant-picker-input > input {
  color: white;
}
.warning_list_container .warning_list_query_condition .ant-picker-input-active > input {
  color: white;
}
.warning_list_container .warning_list_query_condition .ant-picker-separator {
  color: rgba(255, 255, 255, 0.8);
}
.warning_list_container .warning_list_query_condition .ant-picker-suffix {
  color: rgba(255, 255, 255, 0.8);
}
.warning_list_container .warning_list_query_condition .ant-picker-clear {
  background-color: rgba(5, 23, 61, 0.6);
}
.warning_list_container .warning_list_query_condition .ant-picker-clear svg {
  fill: red;
}
.warning_list_container .warning_list_results {
  width: 100%;
  height: calc(100% - 110px);
  overflow: auto;
}
.warning_list_container .warning_list_results .talbe_detail {
  width: 100%;
  height: 100%;
}
.warning_list_container .warning_list_results .talbe_detail .ant-table {
  background-color: transparent;
  color: white;
}
.warning_list_container .warning_list_results .talbe_detail .ant-table-thead > tr > th {
  background-color: transparent;
  color: white;
}
.warning_list_container .warning_list_results .talbe_detail .ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: rgba(0, 141, 255, 0.6);
}
.warning_list_container .warning_list_results .talbe_detail .ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background-color: rgba(0, 141, 255, 0.6);
}
.warning_list_container .warning_list_results .talbe_detail .ant-pagination-item {
  background-color: transparent;
}
.warning_list_container .warning_list_results .talbe_detail .ant-pagination-item a {
  color: white;
}
