.mainpage_title_font_info {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  font-family: 'DINAlternate-Bold', 'MicrosoftYaHei-Bold';
}
.line_separator {
  width: 95%;
  height: 1px;
  margin: 10px auto;
  background-image: linear-gradient(to right, rgba(25, 157, 252, 0.2) 1%, #199dfc 50%, rgba(25, 157, 252, 0.2) 96%);
}
