@import "../../index.css";
.main_navbar_container {
  display: flex;
  justify-content: space-around;
  height: var(--mainpageNavBarHeight);
  width: 100%;
  line-height: 50px;
  background-color: #06183d;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}
.main_navbar_container .main_navbar_slider {
  position: fixed;
  background-image: url('../..//imgs/nav-bar-bg.png');
  background-size: 100% 100%;
  background-position: left bottom;
  height: 100%;
  width: 120px;
  left: 0px;
  opacity: 1;
  transition: left 0.4s linear;
}
.main_navbar_container > section {
  cursor: pointer;
}
.main_navbar_container .main_navbar_home,
.main_navbar_container .main_navbar_home,
.main_navbar_container .main_navbar_realtime,
.main_navbar_container .main_navbar_signal,
.main_navbar_container .main_navbar_db,
.main_navbar_container .main_navbar_station {
  position: relative;
  /* 元素上触发的动画，均按照这个方式进行过度，如后面的 hover 动画,鼠标离开后，动画原样返回 */
  transition: all 0.5s ease;
}
.main_navbar_container .main_navbar_home:hover,
.main_navbar_container .main_navbar_realtime:hover,
.main_navbar_container .main_navbar_signal:hover,
.main_navbar_container .main_navbar_db:hover,
.main_navbar_container .main_navbar_station:hover {
  text-shadow: 1px 1px #ccc;
  font-size: 1.3rem;
}
.main_navbar_container .main_navbar_itembg {
  color: #0cd2fd;
  height: 100%;
  width: 120px;
  background-image: url('../..//imgs/nav-bar-bg.png');
  background-size: 100% 100%;
  background-position: left bottom;
}
.main_navbar_container .row {
  width: 100%;
  height: 98%;
  text-align: center;
}
.main_navbar_container .col_first_section {
  padding: 0px;
}
.main_navbar_container .col_tools {
  padding: 0px;
}
.main_navbar_container .titleImg {
  margin-right: 5px;
  margin-top: -3px;
  width: 25px;
  height: 28px;
}
.main_navbar_container .header_always_exist {
  margin-top: 16px;
}
