.station_on_map {
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
}
.station_on_map .station_img {
  height: 32px;
  width: 32px;
  float: left;
}
.station_on_map .out_flash_circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: green;
  float: right;
  position: absolute;
  top: -2px;
  right: 5px;
  transform: scale(0.2);
  animation: flash 2.5s infinite;
  animation-play-state: running;
  /* Safari and Chrome */
  -webkit-animation: flash 2.5s infinite;
  -webkit-animation-play-state: running;
  /* Safari 和 Chrome */
}
@keyframes flash {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
    transform: scale(1.5);
  }
}
