.execute_task_layout {
  height: calc(100vh - 1px);
  background-color: #06183d;
  padding: 5px;
}
.execute_task_layout .site-layout-background {
  margin-top: 5px;
  min-height: 280px;
}
.execute_task_layout .left_sider .ant-layout-sider-zero-width-trigger-left {
  top: auto;
  bottom: 3px;
}
.execute_task_layout .right_sider .ant-layout-sider-zero-width-trigger-right {
  top: auto;
  bottom: 3px;
}
