@import '../common-page-style.less';

@import '../../index.css';

.content_layout{
    height: calc(100vh - 52px);
    background-color: #06183d;
    padding: 5px;
    
     //border: 2px solid yellow;
}
.site-layout{
    background-color: transparent;
   
}
.left_sider{
    background-color: #06183d;
}
.ant-tree{
    background-color: transparent;
    color:white;
    
}
.site-layout-background{
    margin-top: 5px;
    //border: 1px solid red;
    min-height: 280px;
}
.left_tree_container{
    height: 100%;
    margin-top: 5px;
    //border: 1px solid red;
}
.left_tree_section{
    height: 70%;
    overflow: auto;
    //border: 1px solid yellow;
}
.left_task_section{
    margin-top: 2px;
    height: calc(30% - 5px);
    color:white;
    //border: 1px solid green;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/

    border-radius: 10px;

     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);

     box-shadow: inset 0 0 5px rgba(0,0,0,0.2);

    background: #06183d;

}
::-webkit-scrollbar-track {/*滚动条里面轨道*/

    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);

    border-radius: 10px;

    background: #06183d;

}
