@import '../common-page-style.less';

@import '../../index.css';

.content_layout{
    height: calc(100vh - 59px);
    background-color: #06183d;
    padding: 5px;
    
     //border: 2px solid yellow;
}
.site-layout{
    background-color: transparent;
   
}
.left_sider{
    background-color: #06183d;
}
.ant-tree{
    background-color: transparent;
    color:white;
    
}
.site-layout-background{
    margin-top: 5px;
    //border: 1px solid red;
    min-height: 280px;
}
.left_tree_container{
    height: 100%;
    margin-top: 5px;
    //border: 1px solid red;
}
.left_tree_section{
    height: 70%;
    //border: 1px solid yellow;
}
.left_task_section{
    margin-top: 2px;
    height: calc(30% - 2px);
    //border: 3px solid green;
}
